{% extends "base.html"%}
{% block content %}
<form class="form-submit" action="{{ url_for('accounts') }}" method="post">
  <h3>Manage Accounts</h3>
  <div class="input-group mb-3">
    <input type="name" class="form-control" name="name" id="name" required title="Name of account required" placeholder="Enter name">
    <input type="number" min="0" step="0.01" class="form-control" name="balance" id="balance" placeholder="Enter balance"
      required title="Balance required">
    <input type="text" class="form-control" name="description" id="description" placeholder="Enter description">
    <select class="custom-select" name="account_type" id="account_type">
      {% for account_type in  account_types %}
      <option value="{{ account_type }}">{{ account_type }}</option>
      {% endfor %}
    </select>
    <div class="input-group-append">
        <button class="btn btn-primary" type="submit">Create</button>
    </div>  
  </div>
  {% if error_message is defined %}
  <div class="alert alert-danger" role="alert">
    {{ error_message }}
  </div>
  {% endif %}
  </div>
  {% if error_message is defined %}
  <div class="alert alert-danger" role="alert">
    {{ error_message }}
  </div>
  {% endif %}
</form>
<!-- <div class="table-container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Date</th>
        <th scope="col">Name</th>
        <th scope="col">Ammout</th>
        <th scope="col">Description</th>
        <th scope="col">Category</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for count, income in incomes%}
      <tr>
        <form action="{{ url_for('delete_income') }}" method="post">
          <th scope="row">{{ count }}</th>
          <td>{{ income.date}}</td>
          <td>{{ income.name }}</td>
          <td>{{ income.ammout}}</td>
          <td>{{ income .description }}</td>
          <td>{{ income .category.name }}</td>
          <td>
            <button type="submit" class="close" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              <input type="hidden" name="income" value="{{ income.name }}">
            </button></td>
        </form>
        {% endfor %}
      </tr>
    </tbody> -->
  </table>
  {% endblock %}