{% extends "base.html"%}
{% block content %}
<form class="form-submit" action="/categories" method="post">
    <h3>Create Category</h3>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" name="name" id="name" placeholder="Enter Name">
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" name="description" id="description" placeholder="Enter description">
      </div>
      <div class="form-group">
        <label for="expense-or-income">Expense or income?</label>
        <select class="custom-select" name="expense-or-income" id="expense-or-income">
          <option value="1">Expense</option>
          <option value="0">Income</option>
        </select>
      </div>
      {% if error_message is defined %}
      <div class="alert alert-danger" role="alert">
          {{ error_message }}
      </div>
      {% endif %}
      <button type="submit" class="btn btn-lg btn-primary btn-block">Create</button>
  </form>
{% endblock %}