{% extends "base.html"%} {% block content %}
<form class="form-submit" action="{{ url_for('categories') }}" method="post">
  <h3>Create Category</h3>
  <div class="form-group">
    <input
      type="text"
      class="form-control"
      name="name"
      id="name"
      placeholder="Enter Name"
      required title="Name of category required"
    />
  </div>
  <div class="form-group">
    <input
      type="text"
      class="form-control"
      name="description"
      id="description"
      placeholder="Enter description"
    />
  </div>
  <div class="form-group">
    <select
      class="custom-select"
      name="expense-or-income"
      id="expense-or-income"
    >
      <option value="1">Expense</option>
      <option value="0">Income</option>
    </select>
  </div>
  {% if error_message is defined %}
  <div class="alert alert-danger" role="alert">
    {{ error_message }}
  </div>
  {% endif %}
  <button type="submit" class="btn btn-lg btn-primary btn-block">Create</button>
</form>
<div class="table-container">
  <table class="table table-striped" name="categories">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Expense/Income</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for count, category in categories %}
      <tr>
      <form action="{{ url_for('delete_category') }}" method="post">
        <th scope="row">{{ count }}</th>
        <td>{{ category.name }}</td>
        <td>{{ category.description }}</td>
        {% if category.is_expense %}
        <td>Expense</td>
        {% else %}
        <td>Income</td>
        {% endif %}
        <td><button type="submit" class="close" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          <input type="hidden" name="category" value="{{ category.name }}">
        </button></td>
        </form>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
