{% extends "base.html"%}
{% block content %}
<form class="form-submit" action="{{ url_for('expenses') }}" method="post">
  <h3>Manage Expenses</h3>
  <div class="input-group mb-3">
    <input type="date" class="form-control" name="date" id="date" required title="Date of income required">
<div class="input-group-append">
    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
  </div>
    <input type="text" class="form-control" name="name" id="name" placeholder="Enter name" required
      title="Name of expense required">
    <input type="number" min="0" step="0.01" class="form-control" name="ammout" id="ammout" placeholder="Enter ammout"
      required title="Ammout of expense required">
    <input type="text" class="form-control" name="description" id="description" placeholder="Enter description">
    <select class="custom-select" name="category" id="category">
      {% for category in categories %}
      <option value="{{ category.name }}">{{ category.name }}</option>
      {% endfor %}
    </select>
    <select class="custom-select" name="account" id="account">
      {% for account in accounts %}
      <option value="{{ account.name }}">{{ account.name }}</option>
      {% endfor %}
    </select>
    <div class="input-group-append">
        <button class="btn btn-primary" type="submit">Create</button>
    </div>  
  </div>
  {% if error_message is defined %}
  <div class="alert alert-danger" role="alert">
    {{ error_message }}
  </div>
  {% endif %}
  </div>
</form>
<div class="table-container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Date</th>
        <th scope="col">Name</th>
        <th scope="col">Ammout</th>
        <th scope="col">Description</th>
        <th scope="col">Category</th>
        <th scope="col">Account</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for count, expense in expenses %}
      <tr>
        <form action="{{ url_for('delete_expense') }}" method="post">
          <th scope="row">{{ count }}</th>
          <td>{{ expense.date}}</td>
          <td>{{ expense.name }}</td>
          <td>{{ expense.ammout}}</td>
          {% if expense.description %}
          <td>{{ expense.description }}</td>
          {% else %}
          <td>-</td>
          {% endif %}
          <td>{{ expense.category.name }}</td>
          <td>{{ expense.account.name }}</td>
          <input type="hidden" name="account" value="{{ expense.account.name }}">
          <td><button type="submit" class="close" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              <input type="hidden" name="expense" value="{{ expense.name }}">
            </button></td>
        </form>
        {% endfor %}
      </tr>
    </tbody>
  </table>
  {% endblock %}